.nav {
  padding: 10px;
  grid-area: n;
  background-color: red;
}

.friendsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
}

.navSettings {
  margin-top: 20px;
}
